# macOS
.DS_Store

tmp
cluster.yaml
cluster.tfvars
cluster.secrets.tfvars

# Terraform
**/.terraform/
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.*
**/tfplan
**/*.tfplan
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Generated artifacts
**/.generated/*
!**/.generated/.gitignore
